<div class="section" id="awards">
    <h2>Awards and Honors</h2>
    <ul class="awards-list">
        <li>
            <div class="award-item">
                <strong>Hong Kong PhD Fellowship Scheme (HKPFS)</strong>
                <div class="award-date">2025</div>
            </div>
        </li>

        <li>
            <div class="award-item">
                <strong>CUHK Vice-Chancellor HKPFS Scholarship</strong>
                <div class="award-date">2025</div>
            </div>
        </li>

        <li>
            <div class="award-item">
                <strong>ASMPT Technology Award - Silver Award</strong>
                <div class="award-date">2024</div>
            </div>
        </li>

        <li>
            <div class="award-item">
                <strong>Ho Man Sum GEUC4011 Outstanding Project Paper Award</strong>
                <div class="award-date">2023/24</div>
            </div>
        </li>

        <li>
            <div class="award-item">
                <strong>Ma Chao Or Memorial Scholarship</strong>
                <div class="award-date">2022</div>
            </div>
        </li>

        <li>
            <div class="award-item">
                <strong>ELITE Stream Scholarship</strong>
                <div class="award-date">2021/22, 2023/24</div>
            </div>
        </li>

        <li>
            <div class="award-item">
                <strong>Huawei ICT Competition HKSAR - 1st runner up team</strong>
                <div class="award-date">2021/22</div>
            </div>
        </li>

        <li>
            <div class="award-item">
                <strong>T.C. Cheng Scholarship</strong>
                <div class="award-date">2020/21</div>
            </div>
        </li>

        <li>
            <div class="award-item">
                <strong>Dean's List</strong>
                <div class="award-date">2020/21, 2021/22</div>
            </div>
        </li>
    </ul>
</div>