<div class="section" id="education">
    <h2>Education</h2>
    <ul class="education-list">
        <li>
            <div class="education-item">
                <strong>Ph.D. in Computer Science</strong> 2025 - 2029 (Expected)
                <div class="institution">The Chinese University of Hong Kong (CUHK)</div>
            </div>
        </li>
        <li>
            <div class="education-item">
                <strong>B.Sc. in Computer Science</strong> 2020 - 2024
                <div class="institution">The Chinese University of Hong Kong (CUHK)</div>
            </div>
        </li>
    </ul>
</div> 