<div class="section" id="profile">
    <div class="profile-section">
        <h1 class="profile-name">Eric John LI</h1>
        <div class="profile-main-content">
            <div class="profile-image-container">
                <img src="img/profile_photo.jpg" alt="Profile Photo" class="profile-img">
                <div class="social-links">
                    <a href="https://github.com/EJ-L" target="_blank" title="GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://scholar.google.com.hk/citations?user=m71w120AAAAJ&hl=en" target="_blank" title="Google Scholar">
                        <i class="fas fa-graduation-cap"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/eric-john-li-b380a2250/" target="_blank" title="LinkedIn">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="mailto:ejli@cse.cuhk.edu.hk" title="Email">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div>
            <div class="profile-content">
                <div class="profile-bio">
                    <p>
                        I'm a year one Ph.D. student in the Computer Science and Engineering <a href="https://www.cse.cuhk.edu.hk" target="_blank">(CSE)</a> Department at the Chinese University of Hong Kong <a href="https://www.cuhk.edu.hk/english/" target="_blank">(CUHK)</a>, supervised by <a href="https://www.cse.cuhk.edu.hk/lyu/home" target="_blank">Prof.Michael R. Lyu</a>. My research interest lies in large language models and software engineering, including code intelligence and multi-agent environments.
                    </p>

                    <p>
                        I earned my B.Sc. in Computer Science from the Chinese University of Hong Kong <a href="https://www.cuhk.edu.hk/english/" target="_blank">(CUHK)</a> in 2024, where I was part of the prestigious ELITE Stream. This program afforded me the opportunity to work under the guidance of <a href="https://www.cse.cuhk.edu.hk/lyu/home" target="_blank">Prof. Michael R. Lyu</a> on a project titled "The Psychology of Large Language Models (LLMs)." I worked with <a href="https://penguinnnnn.github.io/index.html" target="_blank">Dr. Jen-tse Huang</a>, and <a href="https://donaldlamnl.github.io/DonaldLamNL/home" target="_blank">Mr. Donald Man Ho Lam</a> we delved into the psychological and strategic decision-making aspects of LLMs. This experience provided a solid foundation for my ongoing research.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> 